---
Language:        Cpp
BasedOnStyle:  LLVM

AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: false
ColumnLimit:     90
CommentPragmas:  '^ IWYU pragma:'
ContinuationIndentWidth: 8
IndentWidth:     4
IndentCaseLabels: true
NamespaceIndentation: None
PointerAlignment: Left
Standard:        Cpp11
...
