<launch>
    <arg name="run_rviz" default="true" />

    <include file="$(dirname)/a4wd2.launch" >
        <arg name="run_rviz" value="$(arg run_rviz)" />
    </include>

    <node name="ros_controller"
        pkg="a4wd2"
        type="ros_controller"
        machine="chassis-main"
        required="true"
        args="-v debug" />

    <node pkg="a4wd2" name="key_controller" type="key_controller" />
</launch>
